* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

nav {
  height: 10%;
  width: 100%;
  position: absolute;
  padding: 1rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gameTitle {
  color: #ffffff;
  font-size: 1.5rem;
}

.button {
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 12px;
  background-color: brown;
  color: aliceblue;
  font-weight: 600;
  transition: 0.3s;
}

.button:hover {
  transform: scale(120%);
}


.game-board {
  height: 90vw;
  width: 90vw;
  background-color: white;
  padding: 0.3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.3rem;
  flex-wrap: wrap;
  border-radius: 12px;
  border: solid black 2px;
  transition: 3s ease;
}

.btn {
  height: 100%;
  width: 100%;
  border: solid black 2px;
  border-radius: 10px;
  transition: 0.3s ;
}

.btn:hover {
  transform: scale(110%);
  box-shadow: 0px 0px 10px 0px #ffffff;
  cursor: pointer;
}

/* xs */
@media(min-width: 425px) {

  .gameTitle {
    font-size: 2rem;
  }

  .game-board {
    height: 60vw;
    width: 60vw;
  }
}

/* sm */
/* @media(min-width: 640px) {} */

/* md */
@media(min-width: 768px) {
  .gameTitle {
    font-size: 2rem;
  }

  .game-board {
    height: 80vh;
    width: 80vh;
  }
}

/* lg */
@media(min-width: 1024px) {
  .gameTitle {
    font-size: 2rem;
  }

  .game-board {
    height: 80vh;
    width: 80vh;
  }

  .button {
    padding-inline: 1.5rem;
    padding-block: 0.5rem;
  }
}

/* xl */
/* @media(min-width: 1280px) {} */

/* 2xl */
/* @media(min-width: 1536px) {} */
